{% extends "base.twig" %}

{% block hero %}
	<div class="container" >
		<nav id="section">Jump to Section...</nav>
		<img src="{{post.thumbnail.src}}" />
		<h1>{{post.title}}</h1>
	</div>
{% endblock %}

{% block content %}
  <article class="content post-type-{{post.post_type}}" id="post-{{post.ID}}">
    {{post.content}}
  </article>
{% endblock %}

{% block footer %}
	{{ function('wp_footer') }}
{% endblock %}
